#header {
  margin: 0;
  background-image: url("../images/image 1.jpg");
  background-size: cover;
  position: relative;
  height: 100vh;
}

#h{
  margin-top:238px;
  color: white;
  font-family: 'Fredoka One', cursive;

}
#font{
  color: white;
  font-family: 'Lexend Giga', sans-serif;
}
#bottom{
  margin-top: 100px;
}
#aboutus{
  text-align: center;
  margin-top: 25px;
}
.hide{
  display: none;
}
