#header {
  margin: 0;
  background-image: url("../images/image 1.jpg");
  background-size: cover;
  position: relative;
  height: 100vh;
}

#h{
  margin-top:238px;
  color: white;
  font-family: 'Fredoka One', cursive;

}
#font{
  color: white;
  font-family: 'Lexend Giga', sans-serif;
}
#bottom{
  margin-top: 100px;
}
#aboutus{
  text-align: center;
  margin-top: 25px;
}
#services{
  margin: 0;
  background-image: url("../images/s_image.jpg");
  background-size: cover;
  position: relative;
  height: 50vh;
  margin-top:38px;


}
#serve{
  color:white;
  margin-top: 68px;
  margin-left: 85px;
}
.card {
      margin: 10px 0;
      position: relative;
      overflow: hidden;
  }
  .card:hover img {
      transform: scale(1.2);
      transition: all 0.3s ease;


  }
  .portfolio {
      position: absolute;
      width: 100%;
      min-height: 100%;
      background: rgba(56, 54, 54, 0.582);
      cursor: pointer;
      display: none;
      transition: all 0.7s ease;
  }
  .ptag {
      padding: 5% 0;
      color: white;
      background-color: rgba(0, 0, 0, 0.501);
      padding: 50px 10px;
      font-weight: 100%;
      padding-top: 30px;
      border: 4px solid whitesmoke;
      font-size: 1.1em;
      line-height: 90%;
      margin: 20% 5%;
      overflow: hidden;
      letter-spacing: 2px;
      font-family: 'Monoton', cursive;
  }
  .social img {
      border-radius: 50%;
      transition: 0.2s ease-out;
  }
  .social img:hover {
      box-shadow: 0 0 20px rgb(0, 0, 0);
      margin: -3px;
      padding: 3px;
      background: yellowgreen;
  }

.hide{
  display: none;
}
#contact{
  background-image: url("../images/c_image.jpg");
  background-size: cover;
  background-position:relative;
  height: 60vh;
  margin-top: 30px;
  color: white;
}
.form-cont input {
       width: 39%;
       background: transparent;
   }
   .form-cont textarea {
       margin-top: 10px;
       width: 80%;
       background: transparent;

   }
   .form-cont {
       text-align: center;
       position: relative;
       width: 700px;
       max-width: 100%;
       left: 50%;
       transform: translate(-50%);
   }
   .t .e{
     color: white;
   }
   .social img {
    border-radius: 50%;
    transition: 0.2s ease-out;
}
.social img:hover {
    box-shadow: 0 0 20px rgb(0, 0, 0);
    margin: -3px;
    padding: 3px;
    background: yellowgreen;
}
